.container {
  width: 500px;
  height: 100vh;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  flex-direction: column;

  display: flex;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: white;
  border-bottom: 1px solid #ccc;
  z-index: 1000;
}

.drip-crew {
  width: 40px;
  height: 40px;
  margin-right: 0px;
}

.header .title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 50px;
}
.reward-coin {
  height: 35px;
  width: 70px;
  margin-right: 10px;
}

.contacts {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}

.contact {
  display: flex;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact:hover {
  background-color: #f0f0f0;
}

.contact img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.contact .details {
  flex: 1;
}

.contact .name {
  font-weight: bold;
}

.styleIconsAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.styleIconsDetails {
  display: flex;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.styleIconsDetails:hover {
  background-color: #f0f0f0;
}

.styleIconsHeading {
  margin-top: 60px;
  margin-bottom: 30px;
}

.cake {
  display: flex;
  align-items: center;
}
.cake span {
  font-weight: 300;
  font-size: xx-small;
  margin-top: 6px;
}
.cake img {
  height: 17px;
  width: 17px;
  margin-left: 0px;
  margin-right: 2px;
  border-radius: 0%;
}

.streak-count img {
  width: 14px;
  height: 21px;
  margin-left: 5px;
  margin-right: 1px;
  border-radius: 0%;
}
.streak-count {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.streak-no {
  position: absolute;
  top: -10px;
  right: -15px;

  color: red;

  padding: 2px 5px;
  font-size: 12px;
}

.details {
  display: flex;
  flex-wrap: wrap;
}
.details img {
  height: 15px;
  width: 15px;
  margin-left: 5px;
  margin-top: 5px;
}
